project_id = "replace-with-your-google-cloud-project-id"
region     = "me-west1"

environment      = "production"
application_name = "exam-management-system"

network_name    = "exam-management-vpc"
subnetwork_name = "exam-management-subnet"
subnetwork_cidr = "10.10.0.0/20"

gke_pods_range_name     = "exam-management-pods"
gke_pods_cidr           = "10.20.0.0/16"
gke_services_range_name = "exam-management-services"
gke_services_cidr       = "10.30.0.0/20"

gke_cluster_name       = "exam-management-gke"
artifact_registry_name = "exam-management-images"

cloud_sql_instance_name   = "exam-management-postgres"
cloud_sql_database_name   = "exam_management"
cloud_sql_database_version = "POSTGRES_16"
cloud_sql_tier             = "db-f1-micro"
